<mat-card>
  <mat-card-title>Credits</mat-card-title>
  <mat-card-content>
    The following works is based on the original Mario AI Framework by Sergey Karakovskiy, Noor Shaker, and Julian Togelius, which in turn was based on Infinite Mario Bros by Markus Persson.
    The code was rebuilt on top of <a href="https://github.com/TheHedgeify/DagstuhlGAN"> https://github.com/TheHedgeify/DagstuhlGAN </a> under the supervision of Dr.Patrick Manion.
    Entire source code is available at <a href="https://github.com/jeyavigneshr/pcg/tree/master/gan_python"> https://github.com/jeyavigneshr/pcg/tree/master/gan_python </a>
  </mat-card-content>
</mat-card>
