<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <img src="assets/mario.gif" width="80%" height="80%">
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card style="padding-right: 50px">
      <mat-card-title>
        Procedural Content Generation for Super Mario using GAN
      </mat-card-title>
      <mat-card-content>
    <p>
      The gaming content is of utmost importance to any game. This includes the in-game contents such
      as levels, music, textures, stories, items in game etc. Generating game content is costly and the
      gaming companies invest a lot of money on human designers and artists to develop realistic game
      content. However, this process is very time-consuming owing to the human dependency so
      procedural content generation can be used as an alternative means to generate game content.
      PCG can be combined with neural networks to study the player
      behaviour with individual game elements thereby making it much more fun for the user
    </p>
    <h2>
      Generative Adversarial Networks
    </h2>
    <p>
      Generative Adversarial networks are special type of deep neural networks. A deep neural network in simple terms can be defined as incorporating thinking ability to a machine. “Deep learning is a branch of machine learning that uses neural networks with many layers. A deep neural network analyzes data with learned representations similarly to the way a person would look at a problem,”

      The GAN model consists of a generator to create a realistic data which could replicate the original data and try and
      deceive the discriminator. The discriminator as the name suggests discriminates or distinguishes the
      real data from the replicated ones of the generator. In our case, we have trained a GAN model to train the existing levels and create new innovative and fun levels.
    </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-card align="center">
    <mat-card-title>
      Installation Steps
    </mat-card-title>
    <mat-card-content>
      <p>Click the below link to download the setup files.</p>
      <button color="primary" mat-raised-button>Download Files</button>
      <div style="padding-top: 50px">
      <h2>Controls</h2>
        A - Dash<br>
        S - Jump<br>
        Arrow Keys - Movement<br>
      </div>
    </mat-card-content>
</mat-card>
